@import "global/mixins.scss";
@import "normalize.css";
@import "global/var.scss";
@import "partials/header.scss";
@import "partials/main.scss";
@import "partials/footer.scss";

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body {
  width: 100%;
}

.wrapper {
  width: 100%;
  padding: 60px 10% 60px 10%;
  overflow: hidden;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

@media(min-width: 1200px) {
  .top-of-head {
    .navigation {
      display: block !important;
      ul {
        li {
          display: inline-block;
        }
      }

    }
  }
}

/*Medium size*/
@media (min-width: 992px) and (max-width: 1199px) {
  .top-of-head {
    .navigation {
      display: block !important;
      ul {
        li {
          display: inline-block;
        }
      }

    }
  }
  .people-say {
    .reviews {
      justify-content: center;
    }
    .skills {
      .graphic {
        ul {
          li {
            text-align: center;
          }
        }
      }
    }
  }
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .top-of-head {
    .navigation {
      display: block !important;
      ul {
        li {
          display: inline-block;
          a {
            padding: 5px 10px 3px 10px;
            font: 14px/15px 'Titillium Web', sans-serif;
          }
        }
      }
    }
  }
  .services {
    .categories {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        li {
          width: 50%;
        }
      }
    }
  }
  .team {
    .people {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        li {
          width: 50%;
        }
      }
    }
  }
  .skills {
    .graphic {
      ul {
        li {
          width: 50%;
          h4 {
            font: 700 24px/28px 'Titillium Web';
          }
        }
      }
    }
  }
  .people-say {
    .reviews {
      justify-content: center;
    }
  }
  .team {
    .people {
      ul {
        li {
          ul {
            li {
              width: 32px;
            }
          }
        }
      }
    }
  }
  .get-in-touch {
    form {
      width: 626px;
      div {
        justify-content: center;
        .info {
          width: 250px;
        }
        .message {
          width: 574px;
        }
      }
    }
  }
  footer {
    span {
      display: none;
    }
    a {
      outline: none;
    }
    .fb {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left 0 repeat-x;
    }
    .tw {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -44px repeat-x;
    }
    .gp {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -87px repeat-x;
    }
    .in {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -131px repeat-x;
    }
    .be {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -163px repeat-x;
    }
    .dr {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -207px repeat-x;
    }
    .gt {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -250px repeat-x;
    }
  }
}

/*Phone*/
@media (min-width: 540px) and (max-width: 767px) {
  h2 {
    line-height: 50px;
  }
  .top-of-head {
    margin: 0 0 30px 0;
    position: relative;
    .logo {
      margin: 0 0 30px 0;
      padding: 0;
      width: 100%;
    }
    button {
      position: absolute;
      right: 0;
      top: -5px;
      display: block !important;
      background: none;
      border: none;
      padding: 5px 15px 0 15px;
      line-height: 45px;
      font-size: 1.4em;
      outline: none;
    }
    .hamburger {
      font-size: 20px;
    }
    .navigation {
      width: 100%;
      display: none;
      ul {
        display: inline-block;
        text-align: center;
        width: 100px;
        margin-right: 50%;
        transform: translateX(50%);
        padding: 0;
        li {
          padding: 10px 0;
          margin: 0;

          a {
            display: block;
            text-align: center;
            &:hover {
              background: none;
              border: none;
            }
          }
        }
      }
    }
  }
  .services {
    .categories {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        li {
          margin-bottom: 50px;
        }
      }
    }
  }
  .team {
    .people {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
      }
    }
  }
  .skills {
    .graphic {
      ul {
        flex-wrap: wrap;
        li {
          width: 50%;
          h4 {
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
  .portfolio {
    img {
      width: 100%;
    }
  }
  .people-say {
    .reviews {
      justify-content: center;
      li {
        width: 510px;
        margin-bottom: 40px;
        &:nth-child(3) {
          margin-bottom: 40px;
        }
        &:nth-child(4) {
          margin-bottom: 40px;
        }

      }
    }
  }
  .team {
    .people {
      ul {
        li {
          ul {
            li {
              width: 32px;
            }
          }
        }
      }
    }
  }
  .get-in-touch {
    form {
      width: 400px;
      div {
        justify-content: center;
        .info {
          width: 400px;
        }
        .message {
          width: 374px;
        }
      }
    }
  }
  footer {
    span {
      display: none;
    }
    .fb {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left 0 repeat-x;
    }
    .tw {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -44px repeat-x;
    }
    .gp {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -87px repeat-x;
    }
    .in {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -131px repeat-x;
    }
    .be {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -163px repeat-x;
    }
    .dr {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -207px repeat-x;
    }
    .gt {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -250px repeat-x;
    }
  }
}

@media (min-width: 320px) and (max-width: 539px) {
  h2 {
    line-height: 50px;
  }
  .top-of-head {
    margin: 0 0 30px 0;
    position: relative;
    .logo {
      width: 100%;
      margin: 0 0 30px 0;
      padding: 0;
    }
    button {
      position: absolute;
      right: 0;
      top: -5px;
      display: block !important;
      background: none;
      border: none;
      padding: 5px 15px 0 15px;
      line-height: 45px;
      font-size: 1.4em;
      outline: none;
    }
    .hamburger {
      font-size: 20px;
    }
    .navigation {
      width: 100%;
      display: none;
      ul {
        display: inline-block;
        text-align: center;
        width: 100px;
        margin-right: 50%;
        transform: translateX(50%);
        padding: 0;
        li {
          padding: 10px 0;
          margin: 0;

          a {
            display: block;
            text-align: center;
            &:hover {
              background: none;
              border: none;
            }
          }
        }
      }
    }
  }
  .services {
    .categories {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
      }
    }
  }
  .team {
    .people {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        .four-social {
          margin-bottom: 50px;
        }
        .three-social {
          margin-bottom: 50px;
        }
      }
      .social {
        li {
          width: 32px;
        }
      }
    }
  }
  .skills {
    .graphic {
      ul {
        flex-wrap: wrap;
        li {
          width: 100%;
          display: block;
          img {
            display: block;
            margin: auto;
            padding: 0 0 25px 0;
          }
          h4 {
            margin: 0 0 50px 0;
          }
        }
      }
    }
  }
  .portfolio {
    .portfolio-nav {
      zoom: 0.5;
      width: 100%;
      li {

        a {
          font: 26px/30px 'Titillium Web', sans-serif;
          margin: 0 10px 0 10px;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  .people-say {
    .portfolio {
      .portfolio-nav {
        display: none;
      }
    }
    .reviews {
      justify-content: center;
      li {
        margin-bottom: 100px;
        width: unset;
        &:nth-child(3) {
          margin-bottom: 100px;
        }
        &:nth-child(4) {
          margin-bottom: 100px;
        }
        .quote {
          width: 300px;
          margin: 0;
        }
      }
    }
  }
  .get-in-touch {
    form {
      width: 250px;
      justify-content: center;
      div {
        .info {
          width: 250px;
        }
        .message {
          width: 224px;
        }
      }
    }
    button {
      width: 294px;
    }
  }
  footer {
    span {
      display: none;
    }

    .fb {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left 0 repeat-x;
    }
    .tw {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -44px repeat-x;
    }
    .gp {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -87px repeat-x;
    }
    .in {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -131px repeat-x;
    }
    .be {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -163px repeat-x;
    }
    .dr {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -207px repeat-x;
    }
    .gt {
      display: block;
      float: left;
      padding: 16px;
      background: url(./../images/sprite-of-team.png) top 0 left -250px repeat-x;
    }
  }
}
