@import url(normalize.css);
/* Brand Colors ------------------------------------------------*/
h2 {
  text-align: center;
  font: 700 40px/30px 'Titillium Web', sans-serif;
  color: #ffffff;
  position: relative;
  margin: 0 0 43px 0;
  letter-spacing: 4px; }
  h2::after {
    width: 87px;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    background: #14a58c; }

h2 + p {
  text-align: center;
  font: 18px/26px 'Titillium Web', sans-serif;
  color: #ffffff;
  margin: 0 0 70px 0; }

h4 {
  margin: 0 0 21px 0;
  font: 700 24px/18px 'Titillium Web';
  text-transform: uppercase;
  color: #ffffff; }

h4 ~ p {
  font: 16px/25px 'Titillium Web';
  text-align: center;
  width: 220px;
  margin: 0;
  color: #ffffff; }

.button {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 294px;
  height: 70px;
  background-color: #17c2a4;
  color: #ffffff;
  font: 600 18px/26px "Titillium Web", sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 4px solid #14a58c;
  cursor: pointer; }
  .button:active {
    background-color: #14a58c; }

header {
  background-color: #87509c; }

.top-of-head {
  margin: 0 0 135px 0; }
  .top-of-head button {
    display: none; }
  .top-of-head .logo {
    float: left;
    padding: 0 0 0 62px; }
    .top-of-head .logo strong a {
      background: url("../../images/logo.png");
      height: 37px;
      width: 117px;
      display: block;
      text-indent: 9999px; }
  .top-of-head .navigation ul {
    float: right;
    padding: 10px 0 0 0; }
    .top-of-head .navigation ul li {
      display: inline-block;
      margin-right: 10px; }
      .top-of-head .navigation ul li a {
        padding: 5px 18px 3px 18px;
        font: 16px/18px 'Titillium Web', sans-serif;
        color: #ffffff; }
        .top-of-head .navigation ul li a:hover {
          background: #643a79;
          border-radius: 5px; }

.bottom-of-head h1 {
  font: 700 42px/49px "Titillium Web", sans-serif;
  text-align: center;
  color: #f7f3ea;
  margin-bottom: 54px; }
.bottom-of-head button {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 294px;
  height: 70px;
  background-color: #eb7d4b;
  color: #ffffff;
  font: 600 18px/26px "Titillium Web", sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 4px solid #c86a40;
  cursor: pointer; }
  .bottom-of-head button:active {
    background-color: #c86a40; }

.services {
  background-color: #17c2a4; }
  .services .categories ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
    .services .categories ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 260px; }
      .services .categories ul li.flag img {
        width: 120px;
        height: 124px; }
      .services .categories ul li.pencil img {
        width: 90px;
        height: 131px; }
      .services .categories ul li.gears img {
        width: 159px;
        height: 126px; }
      .services .categories ul li.rocket img {
        width: 95px;
        height: 136px; }
      .services .categories ul li img {
        margin: 0 0 62px 0;
        display: block; }

.team {
  background-color: #e7f1f8; }
  .team h2 {
    color: #3c4761;
    font-size: 41px;
    margin: 0 0 45px 0;
    letter-spacing: 3px; }
    .team h2:after {
      bottom: -27px;
      background: #c8d9e5; }
  .team p {
    color: #3c4761;
    margin: 0 0 78px 0; }
  .team .people ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
    .team .people ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 260px; }
      .team .people ul li img {
        margin: 0 0 36px 0; }
      .team .people ul li h4 {
        color: #27283d;
        font-size: 23px;
        margin: 0 0 12px 0; }
      .team .people ul li span {
        color: #30bae7;
        margin: 0 0 20px 0; }
      .team .people ul li p {
        width: 200px;
        margin: 0 0 27px 0; }
      .team .people ul li ul {
        width: 163px;
        margin: 0 0 20px 0; }
        .team .people ul li ul.four-social {
          width: 163px; }
        .team .people ul li ul.three-social {
          width: 119px; }
        .team .people ul li ul li {
          display: inline; }
          .team .people ul li ul li .fb {
            display: block;
            float: left;
            padding: 16px;
            background: url(../../images/sprite-of-team.png) top 0 left 0 no-repeat; }
          .team .people ul li ul li .tw {
            display: block;
            float: left;
            padding: 16px;
            background: url(../../images/sprite-of-team.png) top 0 left -44px no-repeat; }
          .team .people ul li ul li .in {
            display: block;
            float: left;
            padding: 16px;
            background: url(../../images/sprite-of-team.png) top 0 left -87px no-repeat; }
          .team .people ul li ul li .mail {
            display: block;
            float: left;
            padding: 16px;
            background: url(../../images/sprite-of-team.png) top 0 left -131px no-repeat; }

.skills {
  background-color: #ffffff; }
  .skills h2 {
    color: #3c4761;
    font-size: 40px; }
    .skills h2::after {
      background: #dfe8ed; }
  .skills p {
    color: #3c4761;
    margin: 0 0 83px 0; }
  .skills .graphic ul {
    display: flex;
    justify-content: space-around; }
    .skills .graphic ul li {
      text-align: center; }
      .skills .graphic ul li img {
        margin: 0 0 28px 0; }
      .skills .graphic ul li h4 {
        color: #3c4761;
        text-align: center;
        margin: 0; }

.portfolio {
  background-color: #ffdd99; }
  .portfolio h2 {
    color: #393939;
    margin-bottom: 45px; }
    .portfolio h2::after {
      background: #e5c37f; }
  .portfolio p {
    color: #393939;
    margin: 0 0 40px 0; }
  .portfolio .portfolio-nav {
    display: flex;
    justify-content: center;
    margin: 0 0 64px 0; }
    .portfolio .portfolio-nav li a {
      display: block;
      font: 18px/20px 'Titillium Web', sans-serif;
      margin-right: 10px;
      text-align: center;
      background-color: #ebc985;
      padding: 9px 26px 10px 23px;
      border-radius: 5px;
      color: #393939; }
      .portfolio .portfolio-nav li a:hover {
        background: #ffffff; }
  .portfolio ul {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 20px 0; }
    .portfolio ul li img {
      margin: 0 0 22px 0; }
    .portfolio ul li h4 {
      text-align: center;
      font: 19px/20px 'Titillium Web', sans-serif;
      color: #393939;
      margin: 0 0 62px 0; }
  .portfolio button {
    background-color: #17c2a4;
    border-bottom: 4px solid #14a58c; }
    .portfolio button:active {
      background-color: #14a58c; }

.people-say {
  background-color: #d74680; }
  .people-say h2 {
    color: #ffffff;
    margin-bottom: 43px; }
    .people-say h2::after {
      background: #b73c6d; }
  .people-say p {
    color: #ffffff;
    margin: 0 0 66px 0; }
  .people-say .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }
    .people-say .reviews li {
      width: 540px;
      margin-bottom: 141px; }
      .people-say .reviews li:nth-child(3) {
        margin-bottom: 129px; }
      .people-say .reviews li:nth-child(4) {
        margin-bottom: 100px; }
      .people-say .reviews li img {
        display: block;
        float: left;
        margin-right: 50px; }
  .people-say .quote {
    width: 350px;
    margin: 0 0 0 168px; }
    .people-say .quote blockquote {
      padding-top: 2px;
      font: 22px/33px 'Titillium Web', sans-serif;
      font-style: italic;
      margin: 0 0 24px 0; }
    .people-say .quote h4 {
      margin: 0 0 5px 0; }
    .people-say .quote span {
      font: 18px/26px 'Titillium Web', sans-serif;
      color: #ffdd99; }

.get-in-touch {
  background-color: #3c5499; }
  .get-in-touch h2::after {
    background: #273a71; }
  .get-in-touch p {
    margin-bottom: 76px; }
  .get-in-touch form {
    display: flex;
    width: 860px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .get-in-touch form div .info {
      width: 388px;
      padding: 20px 0 17px 26px;
      border: none;
      border-radius: 5px;
      background: #273a71;
      outline: none;
      color: #ffffff;
      margin-bottom: 27px; }
      .get-in-touch form div .info::-webkit-input-placeholder {
        color: #ffffff; }
    .get-in-touch form div .message {
      width: 808px;
      padding: 22px 26px 30px 26px;
      background-color: #273a71;
      color: #ffffff;
      outline: none;
      border: none;
      border-radius: 5px;
      margin: 0 0 60px 0; }
      .get-in-touch form div .message::-webkit-input-placeholder {
        color: #ffffff; }
  .get-in-touch button {
    background-color: #30bae7;
    border-bottom: 4px solid #299ec5; }
    .get-in-touch button:active {
      background-color: #299ec5; }

footer {
  background: #344b8e; }
  footer ul {
    display: flex;
    justify-content: space-around; }
    footer ul li a {
      font: 24px/30px "Titillium Web", sans-serif;
      color: #ffffff; }
      footer ul li a:hover {
        color: #30bae7; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

body {
  width: 100%; }

.wrapper {
  width: 100%;
  padding: 60px 10% 60px 10%;
  overflow: hidden;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0;
  padding: 0; }

blockquote {
  margin: 0;
  padding: 0; }

/*Medium size*/
@media (min-width: 992px) and (max-width: 1199px) {
  .people-say .reviews {
    justify-content: center; }
  .people-say .skills .graphic ul li {
    text-align: center; } }
/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .top-of-head .navigation ul li a {
    padding: 5px 10px 3px 10px;
    font: 14px/15px 'Titillium Web', sans-serif; }

  .services .categories ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap; }

  .team .people ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap; }

  .skills .graphic ul li {
    width: 50%; }

  .people-say .reviews {
    justify-content: center; }

  .team .people ul li ul li {
    width: 32px; }

  .get-in-touch form {
    width: 626px; }
    .get-in-touch form div {
      justify-content: center; }
      .get-in-touch form div .info {
        width: 250px; }
      .get-in-touch form div .message {
        width: 574px; }

  footer span {
    display: none; }
  footer a {
    outline: none; }
  footer .fb {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left 0 repeat-x; }
  footer .tw {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -44px repeat-x; }
  footer .gp {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -87px repeat-x; }
  footer .in {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -131px repeat-x; }
  footer .be {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -163px repeat-x; }
  footer .dr {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -207px repeat-x; }
  footer .gt {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -250px repeat-x; } }
/*Phone*/
@media (min-width: 540px) and (max-width: 767px) {
  h2 {
    line-height: 50px; }

  .top-of-head {
    margin: 0 0 50px 0; }
    .top-of-head button {
      display: none; }
    .top-of-head .logo {
      margin: 0 0 30px 0;
      padding: 0; }
    .top-of-head .navigation ul li {
      margin: 0; }
      .top-of-head .navigation ul li a {
        padding: 5px 6px 3px 6px;
        font: 14px/18px 'Titillium Web', sans-serif;
        color: #ffffff; }

  .services .categories ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap; }
    .services .categories ul li {
      margin-bottom: 50px; }

  .team .people ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap; }

  .skills .graphic ul {
    flex-wrap: wrap; }
    .skills .graphic ul li {
      width: 50%; }
      .skills .graphic ul li h4 {
        margin: 0 0 20px 0; }

  .people-say .reviews {
    justify-content: center; }
    .people-say .reviews li {
      width: 510px;
      margin-bottom: 40px; }
      .people-say .reviews li:nth-child(3) {
        margin-bottom: 40px; }
      .people-say .reviews li:nth-child(4) {
        margin-bottom: 40px; }

  .team .people ul li ul li {
    width: 32px; }

  .get-in-touch form {
    width: 400px; }
    .get-in-touch form div {
      justify-content: center; }
      .get-in-touch form div .info {
        width: 400px; }
      .get-in-touch form div .message {
        width: 374px; }

  footer span {
    display: none; }
  footer .fb {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left 0 repeat-x; }
  footer .tw {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -44px repeat-x; }
  footer .gp {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -87px repeat-x; }
  footer .in {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -131px repeat-x; }
  footer .be {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -163px repeat-x; }
  footer .dr {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -207px repeat-x; }
  footer .gt {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -250px repeat-x; } }
@media (min-width: 320px) and (max-width: 539px) {
  h2 {
    line-height: 50px; }

  .top-of-head {
    margin: 0 0 50px 0;
    position: relative; }
    .top-of-head .logo {
      width: 100%; }
    .top-of-head button {
      position: absolute;
      right: 0;
      top: -5px;
      display: block;
      background: none;
      border: none;
      padding: 5px 15px 0px 15px;
      line-height: 45px;
      font-size: 1.4em;
      outline: none; }
    .top-of-head .hamburger {
      font-size: 20px; }
    .top-of-head .cross {
      font-size: 40px; }
    .top-of-head .navigation {
      width: 100%; }
      .top-of-head .navigation ul {
        float: none;
        display: inline-block;
        text-align: center;
        width: 100px;
        margin-left: 50%;
        transform: translateX(-50%); }
        .top-of-head .navigation ul li {
          padding: 10px 0;
          margin: 0; }
          .top-of-head .navigation ul li a {
            display: block;
            text-align: center; }
            .top-of-head .navigation ul li a:hover {
              background: none;
              border: none; }
    .top-of-head .logo {
      margin: 0 0 50px 0;
      padding: 0; }

  .services .categories ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap; }

  .team .people ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap; }
    .team .people ul .four-social {
      margin-bottom: 50px; }
    .team .people ul .three-social {
      margin-bottom: 50px; }

  .team .people ul li ul li {
    width: 32px; }

  .skills .graphic ul {
    flex-wrap: wrap; }
    .skills .graphic ul li {
      width: 100%;
      display: block; }
      .skills .graphic ul li img {
        display: block;
        margin: auto;
        padding: 0 0 25px 0; }
      .skills .graphic ul li h4 {
        margin: 0 0 50px 0; }

  .portfolio .portfolio-nav li {
    margin: 0 0 20px 0; }
    .portfolio .portfolio-nav li a {
      width: 90px;
      margin: 0 10px 0 10px; }
  .portfolio img {
    width: 100%; }

  .people-say .portfolio .portfolio-nav {
    display: none; }
  .people-say .reviews {
    justify-content: center; }
    .people-say .reviews li {
      margin-bottom: 40px;
      width: unset; }
      .people-say .reviews li:nth-child(3) {
        margin-bottom: 40px; }
      .people-say .reviews li:nth-child(4) {
        margin-bottom: 40px; }
      .people-say .reviews li .quote {
        width: 300px;
        margin: 0; }

  .get-in-touch form {
    width: 250px;
    justify-content: center; }
    .get-in-touch form div .info {
      width: 250px; }
    .get-in-touch form div .message {
      width: 224px; }
  .get-in-touch button {
    width: 294px; }

  footer span {
    display: none; }
  footer .fb {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left 0 repeat-x; }
  footer .tw {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -44px repeat-x; }
  footer .gp {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -87px repeat-x; }
  footer .in {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -131px repeat-x; }
  footer .be {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -163px repeat-x; }
  footer .dr {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -207px repeat-x; }
  footer .gt {
    display: block;
    float: left;
    padding: 16px;
    background: url(./../images/sprite-of-team.png) top 0 left -250px repeat-x; } }

/*# sourceMappingURL=style.css.map */
