footer{
  background: #344b8e;
  padding: 45px 0 40px 0;
  ul{
    display: flex;
    justify-content: space-around;
    li{
      a{
        font: 24px/30px "Titillium Web", sans-serif;
        color: #ffffff;
        &:hover{
          color: #30bae7;
        }
      }
    }
  }
}

