/* Brand Colors ------------------------------------------------*/

$color-of-header: #87509c;
$color-white: #ffffff;
$color-of-h1: #f7f3ea;
.h2 {
  text-align: center;
  font: 700 40px/30px 'Titillium Web', sans-serif;
  color: $color-white;
  position: relative;
  margin-bottom: 43px;
  letter-spacing: 4px;
  &::after {
    width: 87px;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    background: #14a58c;
  }
}

.p-under-article {
  text-align: center;
  font: 18px/26px 'Titillium Web', sans-serif;
  color: $color-white;
  margin: 0 0 70px 0;
}

.h4-under-img {
  margin: 0 0 21px 0;
  font: 700 24px/18px 'Titillium Web';
  text-transform: uppercase;
  color: $color-white;
}

.p-under-h4 {
  font: 16px/25px 'Titillium Web';
  text-align: center;
  width: 220px;
  margin: 0;
  color: $color-white;
}
.button {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 294px;
  height: 70px;
  background-color: #17c2a4;
  color: $color-white;
  font: 600 18px/26px "Titillium Web", sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 4px solid #14a58c;
  cursor: pointer;
  &:active {
    background-color: #14a58c;
  }
}
